<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>企业号</string>
		<key>list</key>
		<array>
			<dict>
				<key>photo</key>
				<string>1</string>
				<key>name</key>
				<string>yogapay</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>C</string>
		<key>list</key>
		<array>
			<dict>
				<key>photo</key>
				<string>2</string>
				<key>name</key>
				<string>CC</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>3</string>
				<key>name</key>
				<string>陈大明</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>4</string>
				<key>name</key>
				<string>陈火根</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>5</string>
				<key>name</key>
				<string>陈接水</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>photo</key>
				<string>1</string>
				<key>name</key>
				<string>DaDa</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>2</string>
				<key>name</key>
				<string>呆子木头</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>3</string>
				<key>name</key>
				<string>大智大慧</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>3</string>
				<key>name</key>
				<string>读书林</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>E</string>
		<key>list</key>
		<array>
			<dict>
				<key>photo</key>
				<string>1</string>
				<key>name</key>
				<string>Ever</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>photo</key>
				<string>1</string>
				<key>name</key>
				<string>李红梅</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>2</string>
				<key>name</key>
				<string>丽山秀水</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>3</string>
				<key>name</key>
				<string>龙</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>4</string>
				<key>name</key>
				<string>罗嘉玻</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>5</string>
				<key>name</key>
				<string>吕浪</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>T</string>
		<key>list</key>
		<array>
			<dict>
				<key>photo</key>
				<string>1</string>
				<key>name</key>
				<string>汤志武</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>2</string>
				<key>name</key>
				<string>铁汉</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>3</string>
				<key>name</key>
				<string>Tirsta ^_^</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>4</string>
				<key>name</key>
				<string>亭亭玉立</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>5</string>
				<key>name</key>
				<string>提子</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>W</string>
		<key>list</key>
		<array>
			<dict>
				<key>photo</key>
				<string>1</string>
				<key>name</key>
				<string>王彬</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>2</string>
				<key>name</key>
				<string>微信团队</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>3</string>
				<key>name</key>
				<string>文婷</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>4</string>
				<key>name</key>
				<string>无心</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>photo</key>
				<string>1</string>
				<key>name</key>
				<string>易道玄风</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>2</string>
				<key>name</key>
				<string>乐虎</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>3</string>
				<key>name</key>
				<string>乐其</string>
			</dict>
			<dict>
				<key>photo</key>
				<string>4</string>
				<key>name</key>
				<string>雨过天晴</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
